{% extends 'events/admin_base.html' %}
{% load staticfiles %}
{% block content %}

    <style>
        body {
            background-color: beige;
        }
        table{
            background-color: azure;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Douglas County Emergency Services!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Event Information</h2>
    </div>
    <p>There is already an active event in the system.  Please assign an end date to the current emergency before creating a new one</p>
    <div class="row">
            <a href="{% url 'events:event_list' %}" class="row">
                <span class="btn btn-primary">Return</span>
            </a>
    </div>
{% endblock %}
