{% extends 'events/nurse_base.html' %}
{% load staticfiles %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="page-container">

            <h2 class="top-menu">Welcome {{ user.username }},</h2>
            <p>Please choose from below options.</p>
        </div>
    {% endif %}

    <div class="content container">
        <div class="row" style="width:100%">
            <div class="col-md-12" style="width: 100%">
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-3">
                            <p><a class="btn btn-primary" href="{% url 'patients:patient_list' %}" role="button">Manage Patients </a></p>
                        </div>
                        <div class="col-md-3">
                            <p><a class="btn btn-primary" href="{% url 'beds:bed_list' %}" role="button">Manage Beds </a></p>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'patients:patient_search' %}" class="row"><span class="btn btn-primary">Search Patients</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
