{% extends 'events/base.html' %}
{% block content %}

<h1>Enter name to search for patient</h1>
<body>
    <form action="{% url 'patients:patient_search_list' %}" method="GET">

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" >
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <input type="submit" value="Search">
        {%  comment %}
        <a href="{% url 'patients:patient_search_list' %}" class="row"><span class="btn btn-primary">Search Patients</span></a>
        {%  endcomment %}
    </form>
</body>
{% endblock %}
